{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="col-md-8">
		{% if jobs %}
		<h1>Previous Jobs</h1>
		<table class="table table-striped col-md-6">
			<tr>
				<th>Name</th>
				<th>Link</th>
			</tr>
			{% for job in jobs %}
			{% set job_name = job[1].encode("utf-8") %}
			<tr>
				<td>{{job_name}}</td>
				<td><a href="/results/{{job_name}}">See Results</a></td>
			</tr>
			{% endfor %}
		</table>
		{% else %}
		<div class="container">
			<h1>You haven't run any scans yet!</h1>
		</div>
		{% endif %}
	</div>
	<a class="btn btn-lg btn-primary" href="/scan">Create a new scan</a>
</div>

{% endblock %}
