{% extends "base.html" %}
{% block content %}
<div class="content">
	<form action="/scan">
		<input type="submit" value="Scan" class="scan_button">
	</form>
	<div class="options_container">
		<h2><a href="javascript:void(0);" onclick="toggleOptions();">Scan Options&nbsp;<span id="caret" class="fa fa-caret-down"></span></a></h2>
		<div id="options" class="options">
			Option 1<br>
			Option 2<br>
		</div>
	</div>
	<script>
		function toggleOptions() {
			optionsDiv = document.getElementById("options");
			caret = document.getElementById("caret");
			if (optionsDiv.style.maxHeight == "0px" || !optionsDiv.style.maxHeight) {
				optionsDiv.style.maxHeight = "500px";
				caret.classList.remove("fa-caret-down");
				caret.classList.add("fa-caret-up");
			} else {
				optionsDiv.style.maxHeight = "0px";
				caret.classList.remove("fa-caret-up");
				caret.classList.add("fa-caret-down");
			};
		};
	</script>
</div>
{% endblock %}
