<script src="{{url_for('static', filename='js/Chart.min.js')}}"></script>
<div class="chart_div"><canvas id="packets_per_channel" style="width:400px; height:400px;"></canvas></div>
<script>
	var ctx = document.getElementById('packets_per_channel').getContext('2d');
	var chart = new Chart(ctx, {
		type: 'bar',
		data: {
			labels: {{ charts['packets_per_channel']['channel_names']|safe }},
			datasets: [{
				label: "{{ job }}",
				data: {{ charts['packets_per_channel']['counts']|safe }},
				backgroundColor: {{ charts['packets_per_channel']['colors']|safe }},
			}]
		},
		options: {
			legend: {
				display: false,
			},
			title: {
				display: true,
				text: "Packets Per Channel",
				fontSize: 30,
			},
		},
	});
</script>
