{% extends "base.html" %}

{% block content %}
<script src="{{url_for('static', filename='js/socket.io.min.js')}}"></script>
<script src="{{url_for('static', filename='js/socketio.js')}}"></script>
<div class="container">
<div class="run_scan">
	<input type="submit" value="Scan" class="scan_button_copy">
	<div id="ring_container" class="ring_container">
		<div id="r1" class="ring"></div>
		<div id="r2" class="ring"></div>
	</div>
	<div id="status" class="status">
		<span id="scan_status" class="status_text">
			Starting Scan...
		</span>
	</div>
	<div class="packet_count_container">
		<p class="packet_count">WiFi Packets Recieved - <span id="wifi_packet_count">0</span></p>
		<p class="packet_count">Zigbee Packets Recieved - <span id="zigbee_packet_count">0</span></p>
		<p class="packet_count">Bluetooth Packets Recieved - <span id="bt_packet_count">0</span></p>
	</div>
	<div class="progress_bar_outer">
		<span id="progress_percent" class="progress_percent">0</span>
		<div id="progress_bar" class="progress_bar_inner">
		</div>
	</div>
	<a href="/results/{{job}}" id="results_link" class="results_link"><h2>See Results<span class="fa fa-angle-double-right" style="margin-left: 20px;"></span></h2></a>
</div>
</div>
<script type="text/javascript" charset="utf-8">
	var total_scan_time = Number({{ scan_time }});
</script>
{% endblock %}
